:root {
  --primary-color: #f7ad01;
  --white-color: #f5f7f8;
}

* {
  color: var(--white-color);
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.color-primary * {
  color: var(--primary-color);
}

.btn {
  cursor: pointer;
  position: relative;
  font-weight: bold;
}

.btn-primary {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
}

.btn-primary span {
  z-index: 999;
}

.btn-primary::before {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  border-radius: 0.5rem;
  z-index: -1;
  transition: all ease-in-out 0.3s;
}

.btn-primary:hover::before {
  transform: translateX(0);
}

.btn-primary:hover {
  color: #000;
}

.btn-secondary {
  background-color: #222831;
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  transition: all ease-in-out 0.3s;
}

.btn-secondary:hover {
  box-shadow: 0 0 15px 2px var(--primary-color); /* Valores do box-shadow */
}

.typewriter.cursor:after {
  content: "|";
  display: inline-block;
  opacity: 1;
  animation: blink 0.7s infinite;
}

.grow {
  animation: grow 0.6s ease-out forwards;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
